:root {
  --primary-color1: #272044;
  --primary-color2: #588d9c;
  --primary-color3: #c06c84;
  --heading-font-family: Roboto, sans-serif;
  --secondary-font-family: Poppins;
  --paragraph-font-family: Nunito;
  --72-font-size: 72px;
  --64-font-size: 64px;
  --24-paragraph-size: 24px;
}
.container {
  color: var(--primary-color1);
}

h1 {
  font-size: var(--72-font-size);
  color: var(--primary-color1);
  margin-bottom: 90px;
}
h3 {
  font-size: 48px;
}
h3 {
  margin-left: 10px;
}
.img-2 {
  margin-top: 90px;
}
.img-3 {
  margin-top: 90px;
}
.all-dots-image {
  margin-top: 90px;
}
.work-together {
  color: var(--primary-color2);
  font-family: var(--heading-font-family);
}
.info-para {
  color: var(--primary-color1);
  font-family: var(--paragraph-font-family);
  font-size: 30px;
}
.social-icons {
  background-color: var(--primary-color3);
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
  border: 0;
}
