:root {
  --primary-color1: #272044;
  --primary-color2: #588d9c;
  --primary-color3: #c06c84;
  --heading-font-family: Roboto, sans-serif;
  --secondary-font-family: Poppins;
  --paragraph-font-family: Nunito;
  --72-font-size: 72px;
  --64-font-size: 64px;
  --24-paragraph-size: 24px;
}
body {
  text-align: cnter;
}
.headshot-image {
  text-align: end;
}
h1 {
  font-size: var(--64-font-size);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
.contact-info {
  margin-top: 110px;
}
h2 {
  color: var(--primary-color2);
  font-family: var(--heading-font-family);
  font-size: 50px;
}
p {
  color: var(--primary-color1);
  font-family: var(--paragraph-font-family);
  font-size: 30px;
}
