:root {
  --primary-color1: #272044;
  --primary-color2: #588d9c;
  --primary-color3: #c06c84;
  --heading-font-family: Roboto, sans-serif;
  --secondary-font-family: Poppins;
  --paragraph-font-family: Nunito;
  --72-font-size: 72px;
  --64-font-size: 64px;
  --24-paragraph-size: 24px;
}
.about-section {
  color: var(--primary-color1);
}
.about-section h1 {
  font-size: var(--72-font-size);
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-bottom: 160px;
}
.about-section h2 {
  font-size: 60px;
  font-family: var(--heading-font-family);
  font-weight: lighter;
  color: var(--primary-color1);
}
.about-section p {
  font-family: var(--paragraph-font-family);
  font-size: 20px;
}
.view-All-Projects {
  font-family: var(--secondary-font-family);
}
.view-All-Projects:hover {
  text-decoration: underline;
}
h3 {
  color: var(--primary-color2);
  font-size: var(--64-font-size);
  font-family: var(--heading-font-family);
}
p {
  font-size: 48px;
  font-family: var(--paragraph-font-family);
}
.fs-3 {
  margin-right: 90px;
}
.socials {
  width: fit-content;
  margin-left: 160px;
}
.work-together {
  margin-top: 20px;
}
.col-3 {
  border-radius: 3px;
  background-color: #c06c84;
}
.dots {
  margin-top: 145px;
  text-align: center;
}
.artwork {
  background-color: var(--primary-color1);
  padding: 60px;
}
.art-1,
.art-2 {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
}
h4 {
  color: white;
  font-size: 65px;
  font-family: var(--heading-font-family);
}
