.nav-bar {
}
.initials {
  color: var(--primary-color1);
  line-height: 35px;
  font-size: 25px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
nav,
ul li {
  display: inline;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  font-family: var(--paragraph-font-family);
  line-height: 10px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color1);
  transition: all 140ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color3);
}
:root {
  --primary-color1: #272044;
  --primary-color2: #588d9c;
  --primary-color3: #c06c84;
  --heading-font-family: Roboto, sans-serif;
  --secondary-font-family: Poppins;
  --paragraph-font-family: Nunito;
  --72-font-size: 72px;
  --64-font-size: 64px;
  --24-paragraph-size: 24px;
}
.about-section {
  color: var(--primary-color1);
}
.about-section h1 {
  font-size: var(--72-font-size);
  font-family: var(--heading-font-family);
  font-weight: bold;
  margin-bottom: 160px;
}
.about-section h2 {
  font-size: 60px;
  font-family: var(--heading-font-family);

  color: var(--primary-color1);
}
.about-section p {
  font-family: var(--paragraph-font-family);
  font-size: 20px;
}
.view-all-projects {
  font-family: var(--secondary-font-family);
  transition: all 140ms ease-in-out;
}
.view-all-projects:hover {
  text-decoration: underline;
  color: var(--primary-color3);
}
h3 {
  color: var(--primary-color2);
  font-size: 40px;
  font-family: var(--heading-font-family);
}
p {
  font-size: 30px;
  font-family: var(--paragraph-font-family);
}
.fs-3 {
  margin-right: 90px;
}
.work-together {
  margin-top: 10px;
}
.dots {
  margin-bottom: 30px;
  margin-top: 25px;
  text-align: center;
}
.artwork {
  background-color: var(--primary-color1);
  padding: 60px;
}
.art-1,
.art-2 {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: auto;
}
h4 {
  color: white;
  font-size: 65px;
  font-family: var(--heading-font-family);
}
.socials {
  display: flex;
  justify-content: center;
  background: #c8d9de;
  padding: 20px;
  width: 100%;
  border: 0;
}
.socials .col-4 {
  width: fit-content;
}
@media (max-width: 900px) {
  body {
    text-align: center;
  }
  .about-section h1 {
    font-size: 60px;
    text-align: center;
  }
  h2 .bio {
    font: 20px;
  }
  .about-section p {
    font-size: 16px;
  }
  .selfie {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
  }
  .socials {
    margin: 0;
  }
  .bio p {
    width: fit-content;
    text-align: center;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  h3,
  .info {
    font-size: 30px;
  }
  .view-all-projects {
    font-size: 10px;
  }
}
