/*font-family: "Nunito", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */

.nav-bar {
  background-color: var(--primary-color1);
}
.initials {
  color: white;
  line-height: 35px;
  font-size: 25px;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
nav,
ul li {
  display: inline;
  padding: 10px;
  margin: 0;
  font-size: 15px;
  font-family: var(--paragraph-font-family);
  line-height: 10px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 140ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--primary-color3);
}
:root {
  --primary-color1: #272044;
  --primary-color2: #588d9c;
  --primary-color3: #c06c84;
  --heading-font-family: Roboto, sans-serif;
  --secondary-font-family: Poppins;
  --paragraph-font-family: Nunito;
  --72-font-size: 72px;
  --64-font-size: 64px;
  --24-paragraph-size: 24px;
}
.hero {
  text-align: center;
  background-color: var(--primary-color1);
  color: white;
  margin: 0 auto;
  padding: 80px 40px;
}
.hero h1 {
  font-size: var(--72-font-size);
}
.hero h1,
h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
}
.hero h2 {
  font-size: var(--64-font-size);
}
.hero h3 {
  font-family: var(--secondary-font-family);
  font-size: 30px;
  font-weight: normal;
}
.index-heading {
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  color: var(--primary-color1);
}
.index-heading:hover {
  text-decoration: underline;
}
.container {
  justify-content: space-evenly;
}

.col-3 {
  width: fit-content;
}
.socials {
  display: flex;
  justify-content: center;
  background: #c8d9de;
  padding: 20px;
  width: 100%;
  border: 0;
}
@media (max-width: 900px) {
  .hero h1 {
    font-size: 60px;
  }
  .hero h2 {
    font-size: 30px;
  }
  .hero h3 {
    font-size: 20px;
  }
  .index-heading {
    font-size: 40px;
  }
}
